<div class="container my-5 px-4 px-lg-5">
  <!-- Heading Row-->
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1>Consultores</h1>
<!--      <button type="button" data-toggle="modal" data-target="#miModal3" class="btn btn-primary n-sm btn-block" (click)="open()">-->
<!--        Agregar-->
<!--      </button>-->
    </div>
  </div>

  <p>
    Sección dedicada a la información básica de los consultores. Esta información es necesaria para asignarle los datos
    al inventario de equipos y consultores.
  </p>
<!--  <div class="row mb-5">-->
<!--    <div class="col-md-8"></div>-->
<!--    <div class="col-md-3 text-right">-->
<!--      <input type="text" class="form-control" placeholder="Buscar">-->
<!--    </div>-->
<!--    <div class="col-sm-1 text-right">-->
<!--      <button class="btn btn-primary" type="submit">Buscar</button>-->
<!--    </div>-->
<!--  </div>-->
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Dirección </th>
      <th scope="col">Teléfono</th>
      <th scope="col">Compañía</th>
      <th scope="col">Email</th>
      <th scope="col">Estatus</th>
<!--      <th scope="col">Dispositivos</th>-->
      <th scope="col">Editar</th>
    </tr>
    </thead>
    <tbody>
      @for (consultant of CONSULTANTS_MOCK; track consultant.id) {
        <tr>
          <td routerLink="/devices" class="clickable-cell">{{consultant.name}}</td>
          <td routerLink="/devices" class="clickable-cell">{{ consultant.address }}</td>
          <td routerLink="/devices" class="clickable-cell">{{ consultant.phone }}</td>
          <td routerLink="/devices" class="clickable-cell">{{ consultant.company }}</td>
          <td routerLink="/devices" class="clickable-cell">{{ consultant.email }}</td>
          <td routerLink="/devices" class="clickable-cell">Active</td>
<!--          <td>-->
<!--            <button type="button" class="btn btn-primary btn-sm btn-block">-->
<!--              Ver-->
<!--            </button>-->
<!--          </td>-->
          <td>
            <button type="button" data-toggle="modal" (click)="open(consultant)"  class="btn btn-primary btn-sm btn-block">
              Editar
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
<footer style="text-align:center">
  <ul class="pagination align-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
    </li>
    <li class="page-item active" aria-current="page">
      <span class="page-link">1</span>
    </li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Siguiente</a>
    </li>
  </ul>
</footer>

<!--MODAL DE EDICION DE CONSULTOR-->
<ng-template #editModal let-modal>
  <div class="modal-header modal-header-colored">
    <h4 class="modal-title" id="modal-basic-title">Editar información de el Consultor</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group mt-3">
            <label for="name">Nombre</label>
            <input id="name"  class="form-control" [ngClass]="{'input-error': getFieldError('name', 'required')}" placeholder="Nombre de Consultor" name="name" formControlName="name">
            @if (getFieldError('name', 'required')) {
              <span class="error-text">Este campo es requerido</span>
            }
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group mt-3">
            <label for="phone">Telefono</label>
            <input id="phone"  class="form-control" [ngClass]="{'input-error': getFieldError('phone', 'required')}" placeholder="Telefono" name="phone" formControlName="phone">
            @if (getFieldError('phone', 'required')) {
              <span class="error-text">Este campo es requerido</span>
            }
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group mt-3">
            <label for="company">Nombre de compania</label>
            <input id="company"  class="form-control" [ngClass]="{'input-error': getFieldError('company', 'required')}" placeholder="Compañía" name="company" formControlName="company">
            @if (getFieldError('company', 'required')) {
              <span class="error-text">Este campo es requerido</span>
            }
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group mt-3">
            <label for="email">Email</label>
            <input id="email"  class="form-control" [ngClass]="{'input-error': getFieldError('email', 'required')}" placeholder="Email" name="email" formControlName="email">
            @if (getFieldError('email', 'required')) {
              <span class="error-text">Este campo es requerido</span>
            }
          </div>
        </div>
        <div class="col-12 mt-3">
          <h3>Direccion</h3>
        </div>
        <div class="col-12 ">
          <div class="form-group mt-3">
            <label for="address">Direccio 1</label>
            <input id="address"  class="form-control" [ngClass]="{'input-error': getFieldError('address', 'required')}" placeholder="Direccion" name="address" formControlName="address">
            @if (getFieldError('address', 'required')) {
              <span class="error-text">Este campo es requerido</span>
            }
          </div>
        </div>
        <div class="col-12 ">
          <div class="form-group mt-3">
            <label for="address2">Direccion 2</label>
            <input id="address2"  class="form-control" [ngClass]="{'input-error': getFieldError('address2', 'required')}" placeholder="Direccion 2" name="address2" formControlName="address2">
            @if (getFieldError('address2', 'required')) {
              <span class="error-text">Este campo es requerido</span>
            }
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group mt-3">
            <label for="country">Pais</label>
            <input id="country"  class="form-control" [ngClass]="{'input-error': getFieldError('country', 'required')}" placeholder="Pais" name="country" formControlName="country">
            @if (getFieldError('country', 'required')) {
              <span class="error-text">Este campo es requerido</span>
            }
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group mt-3">
            <label for="state">Estado</label>
            <input id="state"  class="form-control" [ngClass]="{'input-error': getFieldError('state', 'required')}" placeholder="Estado" name="state" formControlName="state">
            @if (getFieldError('state', 'required')) {
              <span class="error-text">Este campo es requerido</span>
            }
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group mt-3">
            <label for="city">Ciudad</label>
            <input id="city"  class="form-control" [ngClass]="{'input-error': getFieldError('city', 'required')}" placeholder="Ciudad" name="city" formControlName="city">
            @if (getFieldError('city', 'required')) {
              <span class="error-text">Este campo es requerido</span>
            }
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group mt-3">
            <label for="zipCode">Codigo ZIP</label>
            <input id="zipCode"  class="form-control" [ngClass]="{'input-error': getFieldError('zipCode', 'required')}" placeholder="Zip" name="zipCode" formControlName="zipCode">
            @if (getFieldError('zipCode', 'required')) {
              <span class="error-text">Este campo es requerido</span>
            }
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveChanges()" [disabled]="form.invalid">Guardar cambios</button>
  </div>
</ng-template>

