<h3>Cambiar contrasena</h3>

<form [formGroup]="form" (ngSubmit)="changePassword()">
    <div class="form-row">
        <div class="form-group mt-3">
            <p>Contrasena actual</p>
            <input id="CurrentPassword" class="form-control" placeholder="Current Password" name="CurrentPassword" formControlName="currentPass">
        </div>
        <div class="form-group mt-3">
            <p>Nueva contraasena</p>
            <input id="newPass" class="form-control" [ngClass]="{'input-error': getFieldError('newPass', 'required')}" placeholder="New password" name="newPass" formControlName="newPass">
            @if (getFieldError('newPass', 'required')) {
                <span class="error-text">Este campo es requerido</span>
            }
        </div>

  <button class="btn w-100 btn-primary mt-5" type="submit" [disabled]="loading || form.invalid">Someter</button>

    </div>



</form>

