.spinner-container {
  //position: absolute; /* Position in the center (optional) */
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
  /* Adjust container size, background, or visibility as needed */
}

.spinner {
  border-radius: 50%;
  border-style: solid;
  border-top-color: transparent !important; /* Create two-tone spinning effect */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
